* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  background: rgb(247, 244, 244);
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.contenedor {
  background: #fff;
  margin: 0 auto;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 500px;
  /* line-height: 2rem; */
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 0 50px rgba(0,0,0,.1);
}

